.product {
  width: 100%;
  padding-top: 180px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-header {
    width: 1300px;
    text-align: left;
    margin-top: 50px;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &-body {
    width: 1300px;
    height: fit-content;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 75px;
  }
}

.product-admin{
  @extend .product;
  padding-top: 0px;
  margin: 20px;
  transform: scale(0.5);
  -webkit-transform-origin-x: right;
  -webkit-transform-origin-y: top;
  height: 100vh;
}
